body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background: rgba(241, 192, 227, 0.884);
}


h1{color:rgb(177, 17, 116)}
input, button{
    padding: 8px;
    margin: 5px 0;
    font-size: 16px
}


ul{
    background: white;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


li{
    background: #f4f4f4;
    border-radius: 18px;
    list-style-type: none;
    margin: 5px 0;
    border-left: solid rgb(230, 140, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.feito{
    text-decoration: line-through;
    opacity: 0.6;
}
.botoes button{
    margin: 5px;
    padding: 4px;

}